.margins {
	margin-left: .5em;
	margin-right:  0.5em;
}

.vert-margins {
	margin-top: .5em;
	margin-bottom: .5em;
}

.roundedButton {
	border-radius: 7px;
	min-width: 5em;
}

.log {
	border-top: 1px solid gray;
	padding-top: .3em;
}

.user-button {
	width: 64px;
	height: 64px;
	border: 1px solid grey;
	display: flex;
	font-size: 64px;
	justify-content: center;
	align-items: center;
	border-radius: 25%;
	margin: 4px;
}